h1 {
    color: red;
    text-align: center;
}

.gallery {
    margin: 10px 50px;
}

.gallery img {
    transition: 1s;
    padding: 15px;
    height: 250px;
}

.gallery img:hover {
    filter: invert(var(--value, 100%));
    transform: scale(1.1);
}

/* h3 {
    text-align: center;
} */

/* .bands {
    width: 400px;
    margin: auto;
    text-align: center;
} */